//
//  FFmpegConfig.xcconfig
//  FFmpeg002
//
//  Created by Matt Reach on 2017/9/18.
//  Copyright © 2017年 Awesome FFmpeg Study Demo. All rights reserved.
//  开源地址: https://github.com/debugly/StudyFFmpeg
//

//统一配置ffmpeg 库的路径，因为要写大量的demo，因此写个配置文件比较省事

FFmpeg = ../FFmpeg/FFmpeg-3.4
HEADER_SEARCH_PATHS = $(FFmpeg)/include
LIBRARY_SEARCH_PATHS = $(inherited) $(FFmpeg)/lib
ENABLE_BITCODE = NO
