//
//  FFmpegConfig.xcconfig
//  FFmpeg002
//
//  Created by 许乾隆 on 2017/9/18.
//  Copyright © 2017年 Awesome FFmpeg Study Demo. All rights reserved.
//  开源地址: https://github.com/debugly/StudyFFmpeg
//

//统一配置ffmpeg 库的路径，因为要写大量的demo，因此写个配置文件比较省事

HEADER_SEARCH_PATHS = ../ffmpeg/ffmpeg2/include
LIBRARY_SEARCH_PATHS = $(inherited) ../ffmpeg/ffmpeg2/lib

//fflibp = $(SRCROOT)/../ffmpeg/ffmpeg3/lib
//OTHER_LDFLAGS = -llibavformat -L$(fflibp)
//-llibavcodec -L$(fflibp) -llibavdevice -L$(fflibp) -llibavfilter -L$(fflibp) -llibavutil -L$(fflibp) -llibswresample -L$(fflibp) -llibswscale -L$(fflibp)
//-llibavdevice -L$(fflibp)/libavdevice -llibavfilter -L$(fflibp)/libavfilter -llibavformat -L$(fflibp)/libavformat -llibavutil -L$(fflibp)/libavutil -llibswresample -L$(fflibp)/libswresample -llibswscale -L$(fflibp)/libswscale


